<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= "Phone: #{@restaurant.phone_number}" %></p>
<p><%= "Category: #{@restaurant.category.capitalize}" %></p>

<ul>
  <%= render template: "reviews/new" %>
  <li><%= link_to "Back to restaurants page", restaurants_path, class: "btn btn-primary"%></li>
</ul>
